body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #ffe4c4; /* PapayaWhip */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #ffffff; /* White */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #ff6347; /* Tomato */
}

.input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #00bfff; /* DeepSkyBlue */
}

input {
  padding: 10px;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #00bfff; /* DeepSkyBlue */
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 12px;
  background-color: #4caf50; /* Green */
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* Darker Green */
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #8a2be2; /* BlueViolet */
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.shake {
  animation: shake 0.5s;
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

